:root {
  --primary-color: #009ca6;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

.text-primary {
  color: var(--primary-color);
}

.text-light {
  color: var(--light-color);
}

.btn-primary {
  color: var(--primary-color);
}
